*{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: cursive;
  text-align: center;
  opacity: 1;
  }

title {

}

 .chemical {
   text-align: center;
   left:50px;
  }

 .Soco {
  float: right;
  bottom: 200px;
 }
