* {
    margin:0;
    padding:0;
}

table, th, td {
  border: 0.016em solid white;
  font-family: Arial, sans-serif;
}

body {
  background:black;
  color: white;
  height: 100%;
  overflow-x: hidden;
}

 .USC {
   height: 25vh;
   width:200px;
   position:relative;
   display: inline-block;
}

.Track {
   height: 20vh;
   width: 250px;
   position: relative;
   z-index: 1;
   display: inline-block;
   
 }


 .Crest {
    position: relative;
    display: inline-block;
    height: 20vh;

  
 }

 .main-nav {
  background-image:url("/images/braden-collum-9HI8UJMSdZA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto';
  font-size: 1em;
  Text-shadow:2px 5px 3px #444;
  height: 30vh;

}


.main-nav-list {
 list-style-type: none;
 display: flex;
 position: relative;
 top: 25px;
 
 }


.nav-list_item a {
 text-decoration-style: none;  
 padding: 25px;
 color: ghostwhite;
 word-spacing: 0.15em;
 text-decoration: none;
 
 }

.main_section {
   padding-top: 5rem;
   position: relative;
    /* padding: 5rem; */
    font-size: 1.25rem;
 }

 .table {
  position: relative;
  top: 48rem;
  left: 44rem;
  font-size: 2rem;
}
  
 


.main-links {    
  display: flex;
  position: absolute;
  align-items: flex-end;
  text-align: center;
  right: 45%;
  transition: all 0.5 ease;
  top: 102rem;
}
  

.link_item  {
     font-weight: 700;
     font-size: 4em;
     padding: 25px;
     color: #A7E7D9;
     background-color: transparent;
     /* border: 1px solid white; */
     transition: all 0.05 ease-in;
  
  }


.icons {
      position: relative;
      bottom: -43rem;
      text-align: center;
  }

.main-photos {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .about-content {
    width: 35%;
    max-width: 800px;
    margin: 0 auto 35px auto;
  }

  @media only screen and (min-width: 1024px) {
    .table {
      top: 27rem;
      left: 37rem;
    }

    .icons {
      bottom: -18rem;
    }
    
    .main-links {
      top: 69rem;
      right: 39%;
    }
  
  }
  