*{
  margin: 0;
  padding: 0;
}

.top-header {
  font-family:"Times New Roman", serif;
  text-align: center;
  font-size: 3em;
}

@media only screen and (max-width: 480px) {
  .bio {
   word-spacing: 0.03em;
   letter-spacing: 0.03em;
   font-family: sans-serif;
   line-height: 1;
   overflow: visible;
   font-size: 1em;

 }
}


.main-content {
  font-size: 1em;
  width: 100%;
  background-image: url('C:/Users/Bridgette/Desktop/Landing-page/images/Deadspace.jpg');
  font-family: sans-serif;
  color: GhostWhite;
}

table, th, td {
  border: 0.016em solid white;
  font-family: Arial, sans-serif;
}

 .USC {
   height:183px;
   width:200px;
   position:relative;
   display: inline-block;
   overflow: hidden;
}

.Track {
   height: 200px;
   width: 250px;
   position: relative;
   z-index: 1;
   display: inline-block;
   overflow: hidden;
 }


 .Crest {
    width:200;
    position: relative;
    float: right;
    display: inline-block;
    overflow: hidden;
  }

  .default-pic {
     margin: auto;
     padding: 0;
  }



 footer {
    font-weight: 100;

  }

  .about-list {
      text-align: center;
  }

   .about-header {
     text-align: center;
   }

   .links {
     font-weight: 500;
   }
