* {
  margin: 0;
  padding:0;
}

.top-header {
  text-align: center;
}
 p{
   font-family: sans-serif;
   line-height: 1;
   overflow: 
 }

body {
  line-height: 1;
  font-family: sans-serif;
}

table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

 .USC {
   height:200px;
   width:200px;
   position:relative;

 }

.Track {
   height:210px;
   width:240px;
   position:relative;
   left: 250px;
   z-index: 1;
 }
 .Crest
  {  height:210px;
    width:210px;
    position: relative;
    right:25px;
    float: right;
    display: inline-block;
    overflow: scroll;

  }

   .bio {

   }

 footer {
    font-weight: 100;
  }

  .about.list{

  }
