@import url('https://fonts.googleapis.com/css?family=Zeyada');

*{
  margin: 0;
  padding: 0;
}

body {
  height:100%;
}

.main-content {
  font-size: 1em;
  width: 100%;
  font-family: sans-serif;
  color: black;
  height: 100%;
}

.background-img {
  background-image: url(../images/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

/* Nav Style Section Beginning */

 .main-nav {
   position: absolute;
   top: 25px;
   font-family: 'Roboto';
   font-size: 1.5 em;
 }


 .main-nav-list {
  list-style-type: none;
  display: flex;
  
  }


 .nav-list_item a {
  text-decoration-style: none;  
  padding: 25px;
  Text-shadow: text-shadow: 2px 5px 3px #444;
  color: ghostwhite;
  word-spacing: 0.15em;
  
  }

/* Nav Style Section End */ 

.top-header {
  font-family:"Roboto", serif;
  text-align: center;
  font-size: 3em;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  

}


.main-links {    


}

  
footer {
    font-weight: 100;
  }

.link_item {
     font-weight: 700;
  
  }
